.remove-btn {
    margin-right: 0.5rem;
}

.fade-enter {
    opacity: 0.01;
 }

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-out;
}

.App{
    background: #58c5cd;
    background-image: url("/image/bg.png");
    min-height: 100vh;
}

h3{
    color: #aaadb2;
    font-weight: normal;
    margin-bottom: 2rem;
}

.block{
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    box-shadow: 0 .1rem 1rem rgba(0,0,0,.15);
}

.ant-input-affix-wrapper .ant-input{
    height: 42px;
    margin-bottom: 6px;
    margin-top: 6px;
}

.ant-btn{
    margin-top: 10px;
}

i.anticon svg{
    display: block;
}
