.navlink:hover{
    color: #d0d0d0;
    text-decoration: none;
}

.navlink {
    margin-left: 20px;
    color: #afafaf;
}

.navlink.active:hover,
.navlink.active{
    color: #fff;
}

.logout{
    display: block;
    width: 150px;
    margin-top: 15px;
    padding:5px 15px;
    margin-left: 20px;
    color: #afafaf;
    background: #fff;
}